@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  --line-color: #e5e7eb;
}

*,
*:is(::before, ::after) {
  outline: none;
}

.text-stroke-primary {
  -webkit-text-stroke: 2px #0f3155;
}
.text-stroke-secondary {
  -webkit-text-stroke: 2px #3888c4;
}

form {
  @apply space-y-6;
}
form > div {
  @apply space-y-1;
}
form label {
  @apply font-medium text-sm;
}
form :is(input, textarea) {
  @apply bg-transparent rounded border border-primary/30 dark:border-blue-50/30 px-5 py-3 w-full;
}
form :is(input, textarea):focus {
  @apply border-primary dark:border-blue-50;
}
form textarea {
  @apply h-40;
}
